body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.btn {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #34495e;
}


h1 {
    text-align: center;
    margin-top: 30px;
    color: #222;
}

h2 {
    margin-top: 40px;
    padding-bottom: 5px;
}

.section {
    margin-top: 20px;
}